<md-content layout-padding>
    <md-input-container class="md-block">
        <label>Titulo</label>
        <input ng-model="filme.titulo">
    </md-input-container>

    <div layout-gt-sm="row">
        <md-input-container class="md-block">
            <label>Data de lançamento</label>
            <md-datepicker ng-model="filme.dataLanchamento"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Duração</label>
            <input ng-model="filme.duracao">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Diretor</label>
            <input ng-model="filme.diretor">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-input-container class="md-block">
            <label>Classificação Indicativa</label>
            <input ng-model="filme.classificacaoIndicativa">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Genero</label>
            <md-select ng-model="filme.genero">
                <md-option ng-repeat="genero in generos" value="{{state.abbrev}}">
                    {{state.abbrev}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Idioma</label>
            <input ng-model="filme.idioma">
        </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary">Cadastrar</md-button>
        <md-button class="md-raised">Cancelar</md-button>
    </section>
</md-content>