<div class="md-padding">
    <h2>Backup</h2>
    <div layout="row">
        <div>
            <h5>Fazer Backup</h5>
            <p>Iniciar de forma imediata o processo de backup dos dados atuais</p>
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="$ctrl.realizar()">
                Fazer backup
            </md-button>
        </div>
    </div>
    </br>
    <md-divider></md-divider>
    </br>
    <h5>Restaurar Backup</h5>
    <p>Seleciona o backup que contém os dados que você deseja restaurar</p>
    <div layout="row">
        <md-input-container flex-gt-sm>
            <label>Data para restaurar</label>
            <md-select ng-model="$ctrl.dataSelecionada">
                <md-option ng-repeat="data in $ctrl.datas" value="{{data.data}}">{{data.data}}</md-option>
            </md-select>
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="$ctrl.restaurar()">
                Restaurar backup
            </md-button>
            <div>
            </div>
        </div>
    </div>
</div>