<md-content layout-padding>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Filme escolhido</label>
        <md-select ng-model="filme">
            <md-option ng-repeat="filme in $ctrl.filmes" value="{{filme}}">{{filme}}</md-option>
        </md-select>
    </md-input-container>

    <div layout-gt-sm="row">
        <md-input-container class="md-block">
            <label>Valor:</label>
            <input ng-model="ingresso.valor">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Número do assento</label>
            <input ng-model="ingresso.numeroAssento">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Promocao</label>
            <input ng-model="ingresso.notaFiscal">
        </md-input-container>
    </div>
    <div layout-gt-sm="row">
        <md-checkbox ng-model="ingresso.promocao">Ingresso com promoção</md-checkbox>
        <md-checkbox ng-model="ingresso.necessidadeEspecial">Necessidades especiais</md-checkbox>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="$ctrl.cadastrar(ingresso)">Cadastrar</md-button>
        <md-button class="md-raised">Cancelar</md-button>
    </section>
</md-content>